html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Roboto Condensed',
    sans-serif;
    background: #070A1B;;
    color: white;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.list{
    display: flex;
}

.list__item{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.list__item + .list__item{
    margin-left: 30px;
}

.list__item:hover{
    background-color: #C1A1D2;  
}

.header__content{
    background: url(../images/bg-img.png);
    // background:  no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 1px);
    display: flex;
    background-position: center;
    flex-direction: column  ;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    position: relative;
}

.header__content::before{
    background-image: url(../images/mers-logo.svg);
    content: "";
    width: 50px;
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: -25px;
}

.title{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    margin-bottom: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__inner{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__descr{
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 50px;
}

.footer__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Roboto Condensed',
sans-serif;
}

.consept{
    padding-top:150px;
}

.consept__inner{
    max-width: 900px;
    margin-left: auto;
}

.consept__title{
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #F402A2;
    font-family: 'Roboto Condensed',
    sans-serif;
}

.consept__text{
    font-weight: 400;
    font-size  : 24px;
    line-height: 120%;
    font-family: 'Roboto Condensed',
    sans-serif;
    padding-bottom: 25px;
}

.consept__img{
    background-image:  url(../images/consept-img.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.premier{
    margin-bottom: 150px;
    padding-top: 150px;
}

.premier__inner{
    display: flex;
    gap: 60px;
}

.premier__title{
    font-weight: 700;
    font-size  : 18px;
    line-height: 120%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F402A2;
    padding-bottom: 25px;
}

.premier__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Roboto Condensed',
    sans-serif;
    margin-bottom: 25px; 
}

